<h2 style="margin-top: 1rem; font-weight: bold; color: black;margin-left: 0.5rem">Product List</h2>
<div class="row">
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag :search %>
    <%= submit_tag "search" %>
  <% end %>
  <% @products&.each do |product| %>
    <div class="card col-lg-2 mb-2 mt-3" style="width: 17rem; display: flex; margin-left: 1.5rem">
      <img style="height:240px;" class="thumbnail" style="object-fit: cover;" src="<%= product.image_url %>">
      <div class="card-body box-element product">
        <h5 class="card-title"><strong><%= product.name %></strong></h5>
        <div class='d-flex flex-wrap justify-content-between align-items-center'>
          <div>
            <a class="btn btn-outline-success" style="text-decoration: none" href="/products/<%= product.id %>">View</a>
          </div>
          <p style="font-size: 15px"><strong>£<%= product.price %></strong></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

