<div class="row">
  <div class="col-lg-2 mb-2 mt-3" style="width: 17rem; display: flex; margin-left: 20rem">
    <img style="height:320px; width: 250px" class="thumbnail" style="object-fit: cover;" src="<%= @product.image_url %>"/>
  </div>
  <div class="col-lg-2 mb-2 mt-3" style="width: 50rem; margin-left: 1.5rem">

    <div style="font-weight: bold; font-size: 35px; margin-top: 6rem">
      <%= @product.name %>
    </div>
    <div style="font-weight:200; font-size: 20px; margin-top: 0.5rem">
     <label>Brand: <%= @product.brand_name %></label>
    </div>
    <div style="font-weight:200; font-size: 20px; margin-top: 0.5rem; margin-right: 0.5rem">
      <label>Price: £<%= @product.price %></label>
    </div>
    <div>
      <form action="/products/<%= @product.id %>" accept-charset="UTF-8" method="post"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="Enter_Quantity" style="font-weight:200; font-size: 20px; margin-top: 0.5rem;">Enter Quantity:</label>
        <input type="number" name="quantity" id="quantity" value="min 0" style="width: 10rem">
        <input type="submit" name="commit" value="Add quantity" data-disable-with="Add quantity">
      </form>
    </div>
  </div>
</div>
